*{
	padding: 0;
	margin: 0;
}
body{
	font-family:"Microsoft YaHei","Arial","serif";
}
#mypage{
  margin: 20px;
  padding: 20px;
	width: auto;
	min-height: 520px;
  background-color: #eee;
  border-style: solid;
	border-color: #999;
	border-width:thin;
}
#myteam{
  float: left;
  position: relative;
  width: 160px;
  height: 80px;
  padding: 20px;
  margin: 0px;
  background-color: #fff;
	border-style: solid;
	border-color: #999;
	border-width:thin;
}
#team_logo{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 80px;
  height: 80px;
  padding: 20px;
  margin: 0px;
  background-color: #fff;
}
#team_name{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60px;
	height: 80px;
  font-size: 15px;
  padding: 20px 20px 20px 0px;
  margin: 0px;
  background-color: #fff;
}
#person_logo{
  float: right;
  width: 120px;
	height: 520px;
	background-color: #fff;
	border-style: solid;
	border-color: #999;
	border-width:thin;
}
#person_logo img{
  float: right;
  padding: 20px 20px 0px 20px;
}
#team_intr{
  padding: 20px 20px 20px 20px;
	margin: 0px 140px 0px 220px;
  background-color: #fff;
	border-style: solid;
	border-color: #999;
	border-width:thin;
}
