*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #ffffff;
	font-family:"Microsoft YaHei","Arial","serif";
}
.container{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	margin: 20px;
	min-height: 300;
	width: auto;
	background-color: #fff;
}
.tip-root{
	background-color: #eee;
}
.box{
	margin: 5px 20px;
	box-sizing: border-box;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
  justify-content: flex-start;
	font-size: 10px;
	opacity: 1.0;
	font-size: 20px;
}
.header{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}
.fold-sym{
	width: 20px;
	font-weight: bolder;
	text-align: center;
}
.add, .del{
	display: none;
	margin-left: 30px;
	font-size: 10px;
	color: red;
}
.hide{
	display: none;
}
.fold-sym:hover, .data:hover{
	color: blue;
	cursor: pointer;
}
.add:hover, .del:hover{
	font-weight: bolder;
	cursor: pointer;
}
.header:hover>.add, .header:hover>.del{
	display: inline-block;
}
.hilight{
	color: red;
}
#query{
	margin: 20px;
	width: 400px;
	box-sizing: border-box;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
  justify-content: space-around;
	align-items: center;
}

#query input:nth-of-type(1) {flex-grow: 1; margin: 20px; height: 20px;}
#query button:nth-of-type(1) {flex-grow: 1; margin: 20px; height: 20px;}
