*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #ffffff;
	font-family:"Microsoft YaHei","Arial","serif";
}
#container{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	margin: 20px;
	min-height: 300;
	width: auto;
}

.box{
	margin: 5px 20px;
	box-sizing: border-box;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
  justify-content: flex-start;
	font-size: 10px;
	opacity: 1.0;
	font-size: 20px;
}
.header{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}
.fold-sym{
	width: 20px;
	font-weight: bolder;
	text-align: center;
}
.add, .del{
	margin-left: 30px;
	font-size: 10px;
	color: red;
}
.hide{
	display: none;
}
.fold-sym:hover, .data:hover{
	color: blue;
	cursor: pointer;
}

#button-list, #add-box{
	margin: 20px;
	box-sizing: border-box;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
  justify-content: space-around;
	align-items: center;
}
#button-list button:nth-of-type(1) {flex-grow: 1; margin: 20px; height: 50px;}

#add-box input:nth-of-type(1) {flex-grow: 1; margin: 20px; height: 50px;}
#add-box button:nth-of-type(1) {flex-grow: 1; margin: 20px; height: 50px;}

p{
	font-size: 10px;
}

/*fold*/
.arrow-up{
	width:0;
	height:0;
	border-left:6px solid transparent;
	border-right:6px solid transparent;
	border-bottom:10px solid #10456b;
	background-color: #eeedd6;
}
/*unfold*/
.arrow-right{
	width:0;
	height:0;
	border-top :6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 10px solid #10456b;
	background-color: #eeedd6;
}
